body{
	margin: 0;
}
#help-message{	
	position: absolute; 
	top: 30px;
	left:10px; 
	width: 25%;
	font-size: 1.2em;
	max-width:250px; 
	text-align: center;
	font-family: Monospace;
}
canvas { width: 100%; height: 100% }